<ion-header class="pageheaderbar">
    <ion-navbar hideBackButton>
        <button ion-button menuToggle persistent="true">
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title align="center">CEO DASHBOARD</ion-title>
        <ion-buttons end class="p-r-10">
        <button ion-button>
            <ion-icon name="notifications"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<div></div>
<ion-content padding class="dashboard-content">
    <h1>Welcome back Bhavesh, Things look Alright</h1>
    <ion-grid class="grid-full">
        <ion-row align-items-center class="p-20">
            <ion-col col-4 align="center" tappable (click)="goto()">
                <ion-card class="clix-box">
                    <h1>200 Cr</h1>
                    <p>Disbursal</p>
                </ion-card>
            </ion-col>
            <ion-col col-4 align="center" tappable>
                <ion-card class="clix-box">
                    <h1>110 Cr</h1>
                    <p>NEA</p>
                </ion-card>
            </ion-col>
            <ion-col col-4 align="center" tappable (click)="openSetupMockInterview()">
                <ion-card class="clix-box">
                    <h1>12 %</h1>
                    <p>ROI</p>
                </ion-card>
            </ion-col>
            <ion-col col-4 align="center" tappable (click)="openSetupMockInterview()">
                <ion-card class="clix-box">
                    <h1>1.3 %</h1>
                    <p>ROA</p>
                </ion-card>
            </ion-col>
            <ion-col col-4 align="center" tappable (click)="openSetupMockInterview()">
                <ion-card class="clix-box">
                    <h1>14 %</h1>
                    <p>Delinquent</p>
                </ion-card>
            </ion-col>
            <ion-col col-4 align="center" tappable (click)="openSetupMockInterview()">
                <ion-card class="clix-box">
                    <h1>12 %</h1>
                    <p>Yield</p>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="donut-container">
        <h3 align="center">ACTUAL VS TARGET</h3>
        <ul class="chart-skills">
            <li></li>
            <li></li>
        </ul>
        <ion-grid class="disburse-content">
            <ion-row align-items-center class="p-20">
                <ion-col col-2></ion-col>
                <ion-col col-4>
                    <div class="disburse-amount">$7,84,848</div>
                    <div class="disburse-text">Actual Disbursal</div>
                </ion-col>
                <ion-col col-4>
                    <div class="disburse-amount">$11,00,000</div>
                    <div class="disburse-text">Target Disbursal</div>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div>
        <canvas #doughnutCanvas></canvas>
        <canvas #barCanvas></canvas>
        <canvas #lineCanvas></canvas>
    </div>
</ion-content>