<ion-content scroll="false">
    <div class="splash-bg splashbgIOSmargin">
        <ion-grid>
            <ion-row>
            <ion-col col-3>
            </ion-col>
            <ion-col col-6 align="center" class="logoposition">
                <img class="appsvglogo" />
            </ion-col>
            <ion-col col-3>
            </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="splash-info">
        <div align="center" style="padding-bottom:10px; color:white;">
            Verify OTP
        </div>
        <div class="splash-logo p-b-20">
            <div padding>
                <div class="secondary-color p-10">
                    Verification Code
                </div>
                <div class="secondary-color p-10">
                    Please type the verification code sent to 999999999
                </div>
            <div>
                <input type="tel" id="otp1" required [(ngModel)]="myOTP.otp1" (focus)="focusEvent()" (keyup)="moveToNextFieldEvent($event,'','otp1','otp2')" minlength="1" maxlength="1" class="inputboxotp" />
                <input type="tel" id="otp2" required [(ngModel)]="myOTP.otp2" (focus)="focusEvent()" (keyup)="moveToNextFieldEvent($event,'otp1','otp2','otp3')" minlength="1" maxlength="1" class="inputboxotp" />
                <input type="tel" id="otp3" required [(ngModel)]="myOTP.otp3" (focus)="focusEvent()" (keyup)="moveToNextFieldEvent($event,'otp2','otp3','otp4')" minlength="1" maxlength="1" class="inputboxotp" />
                <input type="tel" id="otp4" required [(ngModel)]="myOTP.otp4" (focus)="focusEvent()" (keyup)="moveToNextFieldEvent($event,'otp3','otp4','otp5')" minlength="1" maxlength="1" class="inputboxotp" />
                <input type="tel" id="otp5" required [(ngModel)]="myOTP.otp5" (focus)="focusEvent()" (keyup)="moveToNextFieldEvent($event,'otp4','otp5','otp6')" minlength="1" maxlength="1" class="inputboxotp" />
                <input type="tel" id="otp6" required [(ngModel)]="myOTP.otp6" (focus)="focusEvent()" (keyup)="moveToNextFieldEvent($event,'otp5','otp6','')" minlength="1" maxlength="1" class="inputboxotp" />
            </div>
            <div align="center" class="spinner-for-autosms p-t-20" *ngIf="isAndroid() && isAutoReadInProgress==true">
                <ion-spinner item-start name="ios"></ion-spinner>
            </div>
            <div class="secondary-color p-25">
                    Didn't Receive Code
                <label [ngClass]="(otpEnabled==true) ? 'enabled-link' : 'disabled-link'" tappable (click)="resendOTP()">
                <b>
                    RESEND OTP
                </b>
                </label>
            </div>
            </div>
        </div>
    </div>
</ion-content>