page-otp {
    .splash-bg {
      position: relative;
      height: 50%;
      z-index: 1;
    }
  
    .spinner-for-autosms {
      ion-spinner * {
        fill: #99226e;
        stroke: #99226e;
      }
    }
  
    .inputboxotp {
      border: 0;
      border-bottom: solid 1px #646565;
    }
  
    input[type=tel] {
      text-align: center;
      margin: 5px 3px 5px 3px;
      padding: 5px 3px 5px 3px;
      width: 36px;
      -webkit-appearance: none;
    }
    /* The below two are hacks for cursor dissapearing */
    input[type="tel"] {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  
    input[type="tel"]:focus {
      outline: none;
    }
  
    input[type=tel]:focus {
      border: 0;
      border-bottom: solid 2px #99226e;
    }
  
    @keyframes animatedBackground {
      from {
        background-position: 0 0;
      }
  
      to {
        background-position: 100% 0;
      }
    }
  
    .splash-info {
      position: relative;
      z-index: 2;
      margin-top: -125px;
      text-align: center;
    }
  
    .splash-logo {
      margin: auto;
      /*background: url('../assets/img/appicon.png') repeat transparent;*/
      border: solid 1px #d9d9d9;
      background: white;
      -webkit-box-shadow: 0px 0px 6px 4px rgba(171,162,171,0.12);
      -moz-box-shadow: 0px 0px 6px 4px rgba(171,162,171,0.12);
      box-shadow: 0px 0px 6px 4px rgba(171,162,171,0.12);
      border-radius: 5px;
      background-size: 100%;
      width: 85%;
      min-height: 140px;
    }
  
    .splash-or-cover {
      position: relative;
      z-index: 3;
      margin-top: -15px;
      text-align: center;
      align-content: center;
    }
  
    .splash-or {
      margin: auto;
      min-height: 60px;
      text-align: center;
      align-content: center;
    }
  
  
    .disabled-link {
      color: #646565;
      cursor: none;
    }
  
    .enabled-link {
      color: #99226e;
      cursor: pointer;
    }
  
    .logoposition {
      margin-top: 30px;
    }
  
    .splash-intro {
      font-size: 18px;
      font-weight: bold;
      max-width: 80%;
      margin: auto;
    }
  }
  
  .platform-ios{
    page-otp {
      .splashbgIOSmargin {
        margin-top: -20px !important;
      } 
    } 
  }
  