<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <h1 class="center_label" style="padding-top:40px;">
          ClixCapital
        </h1>
        <p class="sub_label ">
          CEO Dashboard
        </p>
        <form id="login">
            <ion-grid no-padding no-margin>
              <ion-row align-items-end>
                <ion-col col-1>
                  <ion-icon style="font-size: 1.5em;margin-bottom: 10px;" name="ios-phone-portrait" class="theme-color vertical-align-baseline m-b-20" item-left small></ion-icon>
                </ion-col>
                <ion-col col-10>
                  <ion-list no-padding no-margin>
                    <ion-item no-padding no-margin>
                        <ion-label floating class="primary-color label-b4 m-l-5">Enter you mobile number</ion-label>
                        <ion-input type="tel" id="mobileNumber" maxlength="10" class="label-b3"></ion-input>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row align-items-end>
                  <ion-col col-10 offset-1>
                    <button ion-button round type="submit" color="primary" block (click)="getOtpMessage()">Login</button>
                  </ion-col>
              </ion-row>
            </ion-grid>
            </form>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>