<ion-header class="pageheaderbar">
        <ion-navbar hideBackButton>
            <ion-buttons start class="p-r-10" style="order: 1">
                <button ion-button (click)="dashboard()">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title align="center">Disbursals</ion-title>
            <ion-buttons end class="p-r-10">
            <button ion-button (click)="dashboard()">
                <ion-icon name="log-out"></ion-icon>
            </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <div></div>
    <ion-content padding class="dashboard-content">
        <div class="donut-container">
            <h3 align-center>DISBURSAL - PRODUCT WISE</h3>
            <canvas #barCanvas></canvas>
        </div>
    </ion-content>